body {
	height:100%;
	width:100%;
	background:black;
	color:white;
}

h1 {
	text-align: center;
}

.odai {
	text-align: center;
}

#ansTxt {
	margin: 0 auto;
	width: 890px;
	font-weight: normal;
	letter-spacing: 1.5px;
}

.input-prepend, .inputName {
	margin: 20px auto;
	width: 920px;
}

#textbox, .inputName input {
	box-sizing: border-box;
	padding: 10px;
	margin: 20px auto;
	width: 920px;
	border-radius: 5px;
	border: 3px solid #00B2B3;
	background: black;
	color: white;
	font-size: 17px;
}

#textbox {
	height: 300px;
}

.start {
	margin: 0 auto;
	width: 258px;
	height: 57px;
	background: url(../images/start.png) no-repeat;
}

.start:hover {
	cursor: pointer;
	background: url(../images/start_on.png) no-repeat;
}

.secondarea {
	display: none;
}

#ans {
	padding: 10px;
	font-weight: normal;
	width: 275px;
	height: 202px;
	overflow: scroll;
	color: white;
	background: black;
	border: 1px solid #00B2B3;
	border-radius: 3px;
	letter-spacing: 1px;
	font-size: 14px;
}

#users {
	width: 275px;
	padding: 10px;
	color: #00B2B3;
	background: black;
	border: 1px solid #00B2B3;
	border-radius: 3px;
	letter-spacing: 3px;
	text-align: center;
}

.userAnswerArea {
	overflow: hidden;
	margin: 0 auto;
	width: 940px;
}

.userAnswerBox {
	margin-left: 15px;
	float: left;
	position: relative;
}

.win {
	position: absolute;
	top: 80px;
	left: 5px;
}
